

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-image: url(background.jpg);
}
.container{
    max-width: 720px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #AD42EB;
}

.container .title{
    font-size: 30px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding-bottom: 10px;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 10px;
}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input{
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc
}


#toggle-password {
    display: none;
  }
#toggle-password + label {
    width: 20px;
    height: 20px;
    margin-left: -35px;
    cursor: pointer;
 }


#toggle-passwordConfirm {
  display: none;
}
#toggle-passwordConfirm + label {
  width: 20px;
  height: 20px;
  margin-left: -35px;
  cursor: pointer;
}

.btnSubmit{
    display: flex;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background-color: #9C76FA;
    color: white;
    cursor: pointer;
}

.btnSubmit:hover{
    background-color: #D03CFA;
}

/* PARTIE POUR LES ERREURS */

#errorNom{
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: none;
}
#errorPrenom{
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: none;
}

#errorID{
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: none;
}

#errormail{
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: none;
}

#errorConfirmMail{
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: none;
}

#errorPSW{
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: none;
}

#errorConfPSW{
    color: red;
    font-size: 12px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: none;
}

/* Partie adresse en JS */

.dropdown {
    border: 1px solid black;
    background-color: white;
    position: absolute;
}
.dropdown li {
    cursor: pointer;
    list-style-type: none;
    height: 50px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.dropdown li span {
    font-weight: bold;
}
.dropdown li:hover {
    background-color: lightsteelblue;
}
.dropdown ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (max-width: 584px){
    .container{
        max-width: 100%;;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 500px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}